.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
    border-bottom-width: 1px;
    border-bottom-style: solid; 
    border-bottom-color: #e0e0e0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

}

.left-section {
    width: 150px;
    display: flex;
    align-items: center;

}

.menu-bar {
    height: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.yt-logo {
    height: 20px;
}

.middle-section {
    flex: 1;
    margin-left: 30px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 34px; 
    padding-left: 10px;  
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
    font-family: 'Arial', sans-serif;
    transition: box-shadow 0.3s ease;
    width: 0;
}

.search-bar::placeholder {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.search-btn {
    height: 37.6px;
    width: 60px;
    background-color:rgb(240, 240, 240);
    border: 1px solid #ccc;
    margin-left: -1px;
    margin-right: 8px;
}

.search-btn .tooltip,
.voice-btn .tooltip, .upload-icon-container .tooltip {
    position:absolute;
    background-color: grey;
    color: white;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.search-btn:hover .tooltip,
.voice-btn:hover .tooltip,
.upload-icon-container:hover .tooltip {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.search-icon {
    height: 25px;
}

.voice-btn {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(240, 240, 240);
    margin-right: 6px;
}

.search-btn, .voice-btn, .upload-icon-container  {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.voice-icon {
    height: 24px;
    
}

.right-section {
    width: 180px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.upload-icon {
    height: 25px;
    
}

.apps-icon {
    height: 25px;
}

.notifications-icon {
    height: 25px;
}

.notifications-icon-container {
    position: relative;
}

.notifications-badge {
    position: absolute;
    top: -2.5px;
    right: -5px;
    font-size: 11px;
    padding: 2px 6.5px;
    background-color: red;
    color: white;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile-icon {
    height: 30px;
    border-radius: 50%;
}