
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 30px;
}

@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 20px;
    }
}

.thumbnail { 
    width: 100%;

}

.video-preview {
    width: 100%;
    
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-title {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.video-author, .video-stats {
    font-size: 13px;
    color: rgb(96, 96, 96);
}

.video-author {
    margin-bottom: 4px;
}

.channel-picture {

}

.video-info {
    
}

.profile-picture {
    width: 36px;
    border-radius: 50%;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}
 .video-time {
    position: absolute;
    bottom: 8px;
    top: auto;
    left: auto;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 4px 4px;
    font-size: 12px;
    border-radius: 3px;
 }